<ng-container>
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened class="example-sidenav" [fixedInViewport]="true" [fixedTopGap]="0"
      [fixedBottomGap]="0">
      <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content [formGroup]="options">
      <mat-toolbar class="example-header">
        <button mat-button (click)="sidenav.toggle()">Toggle</button>
        Header
      </mat-toolbar>
      <div class="page-content">
        <router-outlet></router-outlet>
      </div>
      <mat-toolbar class="example-footer">Footer</mat-toolbar>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>