<div fxLayout="column">
    <div fxLayout="column" fxLayoutAlign="center"  [style.padding]="'20px'">
        <img src="assets/images/logo-dema.png" alt="headerImg" class="header-img">
        <h3>template Gui</h3>
    </div>
    <mat-nav-list>
        <mat-list-item *ngFor="let menuitem of menuItems" routerLinkActive="selected">
            <a [routerLink]="['/', menuitem.route]">
                <mat-icon>{{ menuitem.icon }}
                </mat-icon>
                <span>{{menuitem.name}}</span>
            </a>
        </mat-list-item>
    </mat-nav-list>
</div>