<form [formGroup]="inputUserForm" fxLayout="column">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput type="text" required formControlName="ctrlName" />
    <mat-error>Inserire un nome corretto</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Surname</mat-label>
    <input matInput type="text" required formControlName="ctrlSurname" />
    <mat-error>Inserire un cognome corretto</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput type="email" required formControlName="ctrlEmail" />
    <mat-error>Inserire un email valida</mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" [disabled]="inputUserForm.invalid"
    (click)="onSubmit(data.id ? false : true)">{{data.id ? 'Modifica': 'Invia'}}</button>
  <button mat-raised-button color="primary" (click)="onCancel()">Annulla</button>
</form>
